.sidebar {
   background-color: rgb(15, 15, 15);
   width: var(--sidebar-width);
   height: 100vh;
   float: left;
   border-right: rgb(24, 24, 24) 1px solid;
   text-align: center;
}

/* SIDEBAR */
.sidebar-item {
   border-bottom: rgb(32, 32, 32) solid 1px;
   opacity: 0.8;
   height: 40px;
   cursor: pointer;
}

.sidebar-item:hover {
   background-color: rgb(29, 29, 29);
}

.sidebar-item img {
   margin: 7.5px;
   height: 25px;
   filter: drop-shadow(0px 0px 4px #141414);
}

.sidebar-text {
   opacity: 0.8;
   text-shadow: rgb(3, 14, 167) 0px 0px 5px;
   text-decoration: none;
   letter-spacing: 4px;
   font-size: 10px;
   position: absolute;
   transform-origin: 0 0;
   margin: 0px 0px 7px -6.55px;
   bottom: 0;
   transform: rotate(270deg);
   color: rgb(106, 145, 255);
}

/* Boxes that pop up when clicking elements in the sidebar */
.sidebar-popup {
   min-width: 561px;
   background-color: rgb(15, 15, 15);
   margin-left: calc(var(--sidebar-width) + 6px);
   position: absolute;
   border: rgb(24, 24, 24) solid 1px;
   padding: 10px;
   float: left;
   text-align: center;
   z-index: 5;
}

.sidebar-popup p {
   border-bottom: rgb(36, 36, 36) solid 1px;
   margin: 0px 0px 4px;
   padding: 0px 0px 6px 2px;
}

.sidebar-popup table {
   border-collapse: collapse;
   font-size: 14px;
   width: 100%;
   text-align: left;
}

.sidebar-popup table td {
   padding: 3px 8px;
   border: rgb(36, 36, 36) solid 1px;
}

.sidebar-popup table td input[type='checkbox'] {
   cursor: pointer;
   float: right;
   margin: 0px;
}

.sidebar-popup table td input[type='number'] {
   width: 60%;
   float: right;
   cursor: pointer;
   margin-right: 5px;
   font-size: 13px;
   padding: 1px 4px;
   background-color: rgb(14, 13, 13);
   border: 1px rgb(36, 36, 36) solid;
}

.sidebar-popup table td input[type='button'] {
   width: 30%;
   float: right;
   font-size: 12px;
   cursor: pointer;
   padding: 1.2px 4px;
   margin-top: 0.4px;
   background-color: rgb(14, 13, 13);
   border: 1px rgb(36, 36, 36) solid;
}